body{
    margin: 0px;
}

#top{
    position: relative;
    width: 100%;
    height: 700px;
    padding: 90px 0px;
    padding-bottom: 40px;
}

#mid{
    position: relative;
    height: 800px;
    width: 100%;
    padding-top: 30px;
    z-index: -1;
}

.bg2{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    
}

#mid2{
    position: relative;
    height: 780px;
}

#mid3{
    position: relative;
    height: 780px;
    width: 100%;
}

.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: .8;
}

#contact{
    position: relative;
    height: 750px;
    width: 100%;
}

.bg4{
    position: absolute;
    top: 0;
	height: 100%;
	width: 100%;
    z-index: -1; 
}

.background2{
    position: absolute;
    height: 100%;
    width: 100%;   
    z-index: -1;
}

.background{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
    z-index: -1;
}

.bg3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

img.logo{
    display: block;
	width: 500px;
    margin: 40px auto;
    padding: 20px;
}

#nav-bar{
    position: absolute;
    top: 35px;
    right: 35px;
}

.button{
    font-family: Open Sans;
    font-weight: 400;
    display: inline-block;
    padding: 12px;
    color: #feb91f;
    background: #17518f;
    opacity: .8;
    border-radius: 10%;
    margin: 5px;
}

.button:hover{
    opacity: 1;
}

.berkeley{
    height: 100%;
    width: 100%;
    padding-top: 0px;
    z-index: 0;
}

#tagline{
    font-family: Lobster;
    font-size: 55px;
    color: #feb91f;
    text-shadow: black -4px 4px 20px;
    opacity: .9;
    text-align: center;
}

.uav{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 200px;
    height: 150px;
    z-index: 1;
    display: inline-block;
}

#fly{
    padding: 10px;
}

.member{
    position: absolute;
    border-radius: 100%;
}

.label{
    font-family: Lobster;
    font-size: 55px;
    color: #feb91f;
    text-shadow: black -4px 4px 20px;
    text-align: center;
    padding: 20px 0px;
}

.content{
    font-family: Open Sans;
    font-size: 35px;
    color: #feb91f;
    text-shadow: black -2px 0px 10px;
    text-align: center;
    padding: 50px 70px;
}

.b-uav{
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 40%;
    bottom: 2%;
    z-index: -1;
}

#about-content{
    margin-top: 80px;
}

#footer{
    font-family: Open Sans;
    font-size: 16px;
    padding: 10px 0px;
    position: absolute;
    left: 50%;
    bottom:  0;
    margin-left: -177.5px;
}

@media(max-width: 1200px) { 
    .b-uav{
        height: 450px;
        width:450px;
        bottom: 10%;
        left: 20%;
        opacity: .7;
    }   
}

@media(max-width: 575px) { 
    img.logo{
        width: 400px;
        height: 400px;
    }        
    
    #about-content{
        font-size: 25px;
    }
    
    .b-uav{
        height: 300px;
        width: 300px;
        bottom: 10%;
        left: 20%;
        opacity: .7;
    }  
}

@media(max-width: 480px){
    img.logo{
        width: 340px;
        height: 340px;
    }
}