#top{
    position: relative;
    height: 750px;
    width: 100%;
}

#mid{
    position: relative;
    height: 900px;
    width: 100%;
}

#mid2{
    position: relative;
    height: 750px;
    width: 100%;
    background-color: black;
}

.background2{
    position: relative;
    height: 900px;
    width: 100%;
    
}

.background{
	height: 750px;
	width: 100%;
}

img.logo{
    position: absolute;
	width: 500px;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -275px;
}

#nav-bar{
    position: absolute;
    top: 35px;
    right: 35px;
}

.button{
    font-family: Open Sans;
    font-weight: 400;
    display: inline-block;
    padding: 12px;
    color: #feb91f;
    background: #17518f;
    opacity: .8;
    border-radius: 10%;
    margin: 5px;
}

.button:hover{
    opacity: 1;
}

.berkeley{
    position: absolute;
    left: 50%;
    margin-left: -712px;
    top: 150px;
    height: 750px;
    width: 100%;
    overflow: hidden;
}

#tagline{
    font-family: Lobster;
    font-size: 55px;
    color: #feb91f;
    text-shadow: black -4px 4px 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -536.5px;
    margin-bottom: 100px;
    opacity: .9;
}

#about{
    font-family: Lobster;
    font-size: 55px;
    color: #feb91f;
    text-shadow: black -4px 4px 20px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -64px;
    opacity: .9;
}

